<!-- Author: Joshua Payne -->
<div class="main">
  <h1 class="main-title">Geriatric Depression Scale (GDS-15)</h1>
  <div class="main-container">

    <div class="container-left">
      <p class="container-left-question">What is the GDS-15?</p>
      <p class="container-left-answer">
        The Geriatric Depression Scale (GDS) is a valuable tool used to assess
        depression, particularly in older adults. Unlike other scales, the GDS
        minimizes the influence of physical illness on results by focusing on
        the emotional and cognitive aspects of depression, rather than somatic
        symptoms, which may overlap with physical health conditions.
        <br> <!-- breaks makes it look cleaner -->
        <br> <!-- breals makes it look cleaner -->
        The questions in the GDS are simple and designed to be easily understood by
        individuals with cognitive impairments, ensuring that responses are
        straightforward and meaningful.
      </p>
    </div>

    <div class="container-right">
      <div class="container-right-questionone">What does my score mean?</div>
      <div class="container-right-questionone-answer">
        <li>0-5: Normal</li>
        <li>5-15: Risk of Depression</li>
      </div>
      <div class="container-right-questiontwo">When do we use this test?</div>
      <div class="container-right-questiontwo-answer">This tool is commonly used in clinical settings to screen for depression in elderly patients, track symptom progression over time, and monitor responses to treatment.</div>
    </div>

  </div>
</div>
