/* Author: Joshua Payne */
.main {
  font-family: 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.main-header {
  font-weight: 400;
  font-size: 2.25rem;
}

.main-desc {
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
}

.duration-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.duration-box-title {
  font-weight: 400;
  margin-left: -0.25rem;
}

.duration-box-img {
  width: 25px;
}

.duration-box-desc {
  font-weight: 300;
  font-size: 1.2rem;
}

.description-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--secondary-color);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.description-box-line {
  background-color: rgba(0, 0, 0, 0.1);
  width: calc(100% + 3rem);
  height: 1px;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.description-box-top,
.description-box-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.description-box-bottom {
  margin-left: -38%;
  margin-top: 1%;
}

.description-box-top-desc-title,
.description-box-bottom-desc-title {
  font-weight: 500;
  font-size: 1rem;
}

.description-box-top-desc-text,
.description-box-bottom-desc-text {
  font-size: 1rem;
  font-weight: 400;
}

.description-box-start {
  margin-top: 1rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 1.2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 10px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.description-box-start:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px;
}

.description-box-start:active {
  transform: scale(0.98);
}

.result-link {
  margin-top: 1rem;
  color: var(--primary-color);
  text-decoration: none;
}

.result-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.description-box-start:hover {
  cursor: pointer;
}

@media (max-width: 828px) {
  .main-header {
    font-size: 1.5rem;
  }

  .main-desc {
    font-size: 1rem;
    margin: 1rem;
  }

  .description-box-top {
    flex-direction: column;
    gap: 1rem;
  }

  .description-box-bottom {
    flex-direction: column;
    gap: 1rem;
    margin-left: 0;
    margin-top: 0;
  }

  .description-box-start {
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .duration-box {
    gap: 0.75rem;
  }

  .duration-box-title {
    font-size: 1rem;
  }

  .duration-box-desc {
    font-size: 1rem;
  }

  .description-box {
    max-width: 70%;
  }

  .description-box-top-img, .description-box-bottom-img {
    display: none;
  }

  .result-link {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

}