<!-- Author: Joshua Payne -->
<div class="main">

  <img src="assets/Question.svg" alt="Question" class="main-img" />
  <h1 class="main-header">Geriatric Depression Scale (GDS-15)</h1>
  <p class="main-desc">
    Evaluates depressive symptoms specifically in older adults, recognizing that
    they may present differently than in younger individuals.
  </p>

  <div class="duration-box">
    <img class="duration-box-img" src="assets/Time.svg" alt="Timer" />
    <p class="duration-box-title">Duration:</p>
    <p class="duration-box-desc">5-12 Minutes</p>
  </div>

  <div class="description-box">
    <div class="description-box-top">
      <img class="description-box-top-img" src="assets/Play.svg" alt="play icon">
      <div class="description-box-top-desc">
        <p class="description-box-top-desc-title">Don’t Rush Yourself</p>
        <p class="description-box-top-desc-text">Give yourself enough time to thoroughly read and answer each question.</p>
      </div>
    </div>

    <div class="description-box-line"></div>
    <div class="description-box-bottom">
      <img class="description-box-bottom-img" src="assets/Shield.svg" alt="shield">
      <div class="description-box-bottom-desc">
        <p class="description-box-bottom-desc-title">Answer Honestly</p>
        <p class="description-box-bottom-desc-text">Honesty is essential for accurate results.</p>
      </div>
    </div>
  </div>

  <button class="description-box-start"  routerLink="/form">Start Now</button>
  <a class="result-link" routerLink="/results">Already did the test? Click here to find previous results</a>
</div>