.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
}

.active-link {
  color: var(--primary-color);
  font-weight: 400;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-image {
  width: 50px;
  height: auto;
}


.logo a {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 5rem;
}

.nav-links li a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  text-decoration: underline;
  cursor: pointer;
}